@{
    ViewData["Title"] = "Contact";
}

<div class="container-centered spacer-top spacer-bottom">

    <h2>@ViewData["Title"]</h2>

    <p class="spacer-top spacer-bottom">
        For advice, services or any questions at all, <a href="#"
                                                         data-contact="@ViewData["AdminEmail"]"
                                                         onfocus="this.href = 'mailto:' + atob(this.dataset.contact)">
            contact me</a>.
    </p>
</div>