@{
    ViewData["Title"] = "Home";
}

<div class="container-centered spacer-top spacer-bottom">
    <img class="profile-image" src="~/images/myriam_and_matt.jpg" />
    <h1 style="display: inline-block; border-top: 1px solid #eee; padding-top: 15px; margin-top: 30px;">Myriam van Walsum</h1>
    <h4><span>Close-range 3D Scanning <i class="fas fa-circle"></i> 3D Model Processing <i class="fas fa-circle"></i> Advice</span></h4>
</div>
