@model PortfolioMyriam.Models.PortfolioItemViewModel


@{
    ViewData["Title"] = "Details";
}

<div class="container-centered portfolio-item portfolio-item-centered spacer-top spacer-bottom">

    @await Html.PartialAsync("DetailsPartial")
    @await Html.PartialAsync("AdminEditPartial")
    @await Html.PartialAsync("BackToListPartial")

</div>