@model PortfolioMyriam.Models.PortfolioItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-centered portfolio-item spacer-top spacer-bottom">

    <h2>Edit Portfolio Item</h2>

    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @await Html.PartialAsync("EditCreatePartial")
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>


    @await Html.PartialAsync("BackToListPartial")

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
